[Unit]
Description=geopoly gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/geopoly
ExecStart=/home/geopoly/geopolyenv/bin/gunicorn --workers 3 --bind unix:/home/geopoly/geopoly.sock wsgi:app

[Install]
WantedBy=multi-user.target
